*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, 
    Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

/* Wrapper */

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

/* Images Row */

.imgs-row ul {
  display: flex;
  flex: 1;
}

.img-row img {
  max-width: 100%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.first-img img {
  border-left: 0;
}

.last-img img {
  border-right: 0;
}

/* Footer */

footer {
  color: #6e6e6e;
  font-size: 11px;
	margin-top: 22px;
	margin-bottom: 25px;
	/* padding: 0 30px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
	grid-gap: 15px;
  justify-items: space-around;
  align-items: center;
}

footer > * {
	height: 12px;
}

.foot-one,
.foot-three {
	padding-left: 11.5rem;
}

.foot-two,
.foot-three {
	display: flex;
}

footer a {
  color: #08c;
  text-decoration: none;
}

.foot-two li,
.foot-three li {
	border-right: 1px solid #ccc;	

	padding: 0 6px;
}

.no-border {
	border-right: 0px !important;
}

.no-padding {
	padding: 0 6px 0 0 !important;
}
