*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, 
    Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Wrapper */

.wrapper {
  display: grid;
  grid-template-rows: 538px auto auto;
}

/* Images Row */

.promos ul {
  display: flex;
  flex: 1;
}

.img-promo img {
  max-width: 100%;
	height: 100%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.first-img img {
  border-left: 0;
}

.last-img img {
  border-right: 0;
}

/* Footer */

footer {
  color: #6e6e6e;
  font-size: 11px;
	margin: 22px 0 25px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
	grid-gap: 15px;
  justify-items: space-around;
  align-items: center;
}

footer > * {
	height: 12px;
}

.foot-one,
.foot-three {
	padding-left: 11.5rem;
}

.foot-two,
.foot-three {
	display: flex;
}

footer a {
  color: #08c;
}

.foot-two li,
.foot-three li {
	border-right: 1px solid #ccc;	

	padding: 0 6px;
}

.no-border {
	border-right: 0px !important;
}

.no-padding {
	padding: 0 6px 0 0 !important;
}

/* Main */

.billboard {
	background:	url("../images/your_verse_hero.jpg") 50% 100% no-repeat;	

	display: grid;
	grid-template-rows: 1fr 3fr;
	justify-items: center;
	align-items: end;
}

/* Navbar */

.navbar ul {
	border-top: 1px solid #686868;
	border-bottom: 1px solid #6d6d6d;
	border-radius: 5px;
	width: 980px;
	height: 36px;
	margin-bottom: 15px;

	display: flex;
	justify-content: center;
}

.navbar ul {
	background: linear-gradient(#7b7b7b, #5e5e5e 50%, #707070 50%, #8d8d8d);
}

.search-bar input {
	background: linear-gradient(#7b7b7b, #5e5e5e 45%, #707070 25%, #8d8d8d);
}

#apple-logo a {
	background: url("../images/globalnav_text.png") 0 50% no-repeat;
}

.navbar li {
	border-right: 1px solid #4b4b4b;	
	flex: 1;
	text-shadow: 0px -1px #2f2f2f;
	text-align: center;
	line-height: 34px;
}

.apple-logo {
	border-left: 0px !important;
	box-shadow: 0;
}

.navbar a {
	color: white;
	font-size: 13px;
}

.search-bar input {
	border: 0;
	border-top: 2px solid #2f2f2f;
	border-bottom: 1px solid #9b9b9b;
	border-radius: 20px;
	padding-bottom: 7px;
	width: 106px;
	height: 22px;
}

.search-bar {
	border-right: 0px !important;
	box-shadow: 0;
	flex: 1.3 !important;
	position: relative;
}

#magnify {
	background: url("../images/magnify.png") 0 0 no-repeat;
	position: absolute;
	width: 13px;
	height: 14px;
	top: 11px;
	left: 21px;
}

/* Billboard main-text */

.main-text {
	align-self: start;

	display: grid;
	grid-gap: 20px;
}

#three-text {
	display: inline-block;
	height: 29px;
	overflow: hidden;
}

#one-text {
	height: 80px;
	overflow: hidden;
}
